.card-pokemon {
  width: 350px;
  height: 500px;
  margin: 15px;
  perspective: 1000px;
  cursor: pointer;
  background-color: transparent;

  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    
    &[data-reverse="true"] {
      transform: rotateY(180deg);
    }
  }

  .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
    box-sizing: border-box; 
  }

  .card-front {
    border-width: 10px;
    border-style: solid;
    background-color: #f0f0f0; 
    display: flex;
    flex-direction: column;

    .addToPokedex {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 35px;
      height: 35px;
      z-index: 10;
      transition: transform 0.2s;
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 50%; 

      img {
        width: 100%;
        height: 100%;
      }

      &:hover {
        transform: scale(1.1);
      }
    }

    figure {
      display: flex;
      flex-direction: column;
      height: 100%;
      margin: 0;
    }

    picture {
      flex: 1; 
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(0, 0, 0, 0.05); 
      
      img {
        width: 80%;
        max-height: 250px;
        object-fit: contain;
        filter: drop-shadow(0 5px 5px rgba(0,0,0,0.3)); 
      }
    }

    figcaption {
      background-color: rgba(255, 255, 255, 0.9);
      position: relative;
      padding-top: 30px;
      padding-bottom: 15px;
      flex-grow: 0;

      h2 {
        margin: 5px 0;
        text-transform: capitalize;
        color: #333;
        font-family: sans-serif;
      }

      .types {
        position: absolute;
        top: -20px;
        left: 15px;
        display: flex;
        gap: 5px;

        img {
          width: 40px;
          height: 40px;
          background-color: #333;
          border-radius: 50%;
          padding: 5px;
          box-shadow: 0 2px 4px rgba(0,0,0,0.3);
        }
      }

      ol {
        list-style: none;
        padding: 0;
        margin: 10px 0 0 0;
        
        li {
            margin-bottom: 3px;
            font-size: 0.9rem;
            color: #444;
            font-weight: 500;
        }
      }
    }
  }

  .card-back {
    background-color: #1C448E; 
    transform: rotateY(180deg);
    border: 10px solid #1C448E; 
    display: flex;
    align-items: center; 
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}